@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

h1, h2, h3, h4, h5, h6, span {
    color: #333;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 50px 0;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

section:nth-child(even) {
    background-color: #f8f8f8;
}

.section__title {
    margin-bottom:20px;
}

/* Navigation Bar */

nav{ 
    height: 100px;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items:center
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.link__hover--anchor-primary {
    background-color: #1b05e4;
    padding: 8px 20px;
    border-radius: 50px;
    color: white
}

.link__hover--anchor-primary:hover {
    background-color: #05c7cf;
    color: white;
    transition: background-color 0.3s ease;
}

.personal__logo {
    font-size: 24px;
    color:#1b05e4;
    margin: 00 12px;
    font: bold;
}

/* ABOUT ME SECTION */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info{
    display: flex;
    flex-direction: column;
}

.about-me__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    
}

.about-me__info-description {
    text-align: center;
    margin-top: 16px;   
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-bottom: 28px;
}

.about-me__link {
    font-size: 20px;
    color: blue;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__links {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

/* Improving my own picture */

.about-me__picture {
    width: 100%;
}

.text--blue {
    color: #1b05e4;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 100%;
}

/* TECH-STACK */

.language__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language:hover .language__img {
    filter: brightness(80%);
    opacity: 0.86;
    transform:scale(0.9);
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language {
    width: 25%;
    display: flex;
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-bottom: 0 auto;
}

.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
}

.langauge:hover .language__name {
    transform: scale(1)
}


/* PROJECTS SECTION */

.project__img {
    width: 100%;
    transition: all 500ms ease;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0 ,0 , 0.45);
    border-radius: 20px;
    overflow: hidden;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;    
    background-color: black;
    opacity: 0;
    transition: opacity 450ms ease;
}

.project:hover .project__wrapper:before {
    opacity: 0.7;
}

.project:hover .project__img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project__list{
    padding-top: 40px;
}